

/* el color de fondo del body de la página */

.home {

   background:rgb(0,53,62);
   background-repeat: repeat;
}


/* linea divisora */


.hr_arriba {

  border-color: rgb(242,221,51);
  background-color: rgb(242,221,51);
  height: 3px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
}


/* la cabezera donde esta el navbar */

#cabecera{
  box-shadow: 5px 1px 20px 1px #000;
  background-color:rgb(255,255,255);
  margin-top:-20px;
  height:20%;
}



#logo {

  width: 350px;
}





.navbar-nav{

  margin-top:50px;
  text-align:center:


}


/* responsividad */

@media (max-width: 600px) {


  .hidden-xs{

    display: none;


  }


  .visible-xs{

    display: block;
  }


  .boton_menu a img{
    margin-left: 220px;
  }
